.banner {
  background-color: #5cb85c;
  padding: 2rem;
}
.banner-heading {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
  font-family: titillium web, sans-serif;
  color: #fff;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0;
}
.global-feed {
  margin-top: 2rem;
  max-width: 940px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 7rem;
}
.nav-pills.nav-link .active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}
.nav-items {
  margin-left: 0.2rem;
  padding-right: 1.5rem;
}
.articlesandtags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
}
.articleslist {
  position: relative;
  min-height: 1px;
  padding-right: 3rem;
  padding-left: 3rem;
  flex: 0 0 75%;
  max-width: 70%;
}
.tagslist {
  position: relative;
  min-height: 1px;
  /* margin-right: 5rem; */
  flex: 0 0 25%;
  max-width: 20%;
  /* padding-left: 4rem; */
}
/* .article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  padding-left: 5rem;
} */
.sidebar {
  /* padding-right: 5rem; */
  background: #f3f3f3;
  border-radius: 4px;
}
.tagname {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  padding: 10px;
  cursor: pointer;
}
/* Article */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-image {
  color: #959595;
  width: 2rem;
  height: 2rem;
}
.nameanddate {
  margin-right: 37rem;
}
.globalfeed-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
}
.global-feed {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 70%;
}
.global-feed h2 {
  color: #5cb85c;
  font-size: 16px;
  line-height: 24px;
}

.user-name {
  font-size: 16px;
  line-height: 16px;
  color: #3d8b3d;
  font-weight: 500;
  margin-left: 4px;
  margin-top: 2px;
}
.date {
  font-size: 13px;
  line-height: 16px;
  color: #bbbbbb;
  margin-left: 4px;
}
.like-box {
  margin-top: 5px;
  border: 1px solid green;
  padding: 0 5px;
}
.like-icon {
  height: 15px;
  width: 15px;
  border-radius: 75%;

  padding-top: 5px;
}
.article-preview {
  margin-top: 1rem;
}

.article-preview span {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  color: #373a3c;
  border: none;
}
.article-preview p {
  margin-left: 4px;
  font-size: 15px;
  color: #999999;
  margin-top: 0.5rem;
}
.article-title {
  cursor: pointer;
}
.article-preview button {
  border: 1px solid transparent;
  background: transparent;
  font-size: 13px;
  line-height: 19px;
  color: #bbbbbb;
  margin-top: 1.4rem;
}
.like-button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
}
.like-button:hover {
  background-color: #5cb85c;
  color: white;
}
.active {
  color: red;
  background-color: royalblue;
}
